 
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-image: url("https://raw.githubusercontent.com/MitchellFarah/MitchellFarah.github.io/master/background.jpg")
            background-repeat: no-repeat;
        }
